@model PlanetaApp.Models.ACTIVIDAD

@{ 

    string v0 = "", v1 = "", v2 = "";

    switch (Model.ESTADO)
    {
        case 0:
            v0 = "selected";
            break;
        case 1:
            v1 = "selected";
            break;
        case 2:
            v2 = "selected";
            break;
    }


}
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

    @using (Ajax.BeginForm("Edit", "Actividad", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Exito", OnSuccess = "ajaxSuccesData", OnBegin = "ajaxBeforeSend" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.IDACTIVIDAD)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                @Html.TextAreaFor(model => model.DESCRIPCION, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRESUPUESTO, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <input type="number" name="PRESUPUESTO"  value="@Model.PRESUPUESTO" min="0" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_INICIAL, "FECHA INICIAL", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <input type="date" name="FECHA_INICIAL" value="@Model.FECHA_INICIAL.ToString("yyyy-MM-dd")" class="form-control">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA_FINAL, "FECHA FINAL", htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <input type="date" name="FECHA_FINAL" value="@Model.FECHA_FINAL.ToString("yyyy-MM-dd")" class="form-control">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-4 col-lg-4 col-sm-12 col-xs-12" })
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <select name="ESTADO" class="form-control">
                    <option value="0" @v0>INACTIVO</option>
                    <option value="1" @v1>ACTIVO</option>
                    <option value="2" @v2>COMPLETADO</option>
                </select>
            </div>
        </div>


        <div style="display:none">
            <input type="submit" value="Save" id="Editarbtn" class="btn aceptar" />
        </div>
    </div>
    }


</div>
